@import url('https://fonts.googleapis.com/css?family=Muli');

.article {
  width: 840px;
  margin: 0 auto;
  padding: 0px 5px;

  font-family: 'Muli', Sans;
}

.article p {
  line-height: 1.7em;
}

.article h1 {
  font-size: 1.7em;
}
